{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Cadastro Usuários{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/cadastro_usuario.css' %}" />
{% endblock css %} 

{% block content %}

{% if messages %}
    <ul class="lista-sucesso-erro">
        {% for message in messages %}
            
                <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                    {{ message }}
                </li>
            
        {% endfor %}
    </ul>
{% endif %}

    <section class="secao-cadastro-usuario">
        <p>Cadastro de Usuários</p>
        <img src="{% static 'epi_app\images\usuarioicone.png' %}" alt="icone usuario">
    </section>

    <main class="container-cadastro-usuario">
        <h1>Novo Usuário</h1>

        <form action="{% url 'cadastro_usuario' %}" method="post">
            {% csrf_token %}
            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Nome do usuário" required>
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" placeholder="Apenas números" required>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" required>
            <label for="senha">Senha</label>
            <input type="text" name="senha" placeholder="Mínimo de 8 dígitos" required>
            <button type="submit">Cadastrar</button>
        </form>

  
    </main>
    
{% endblock content %}

{% block script %}
    <script src="{% static 'epi_app/js/sumirMensagens.js' %}"></script>
{% endblock script %}