{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Lista Edição EPIs{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/listagem_editar.css' %}" />
{% endblock css %}

{% block content %}

<main class='container-listar-controle'>
    <h1>Lista Controle EPIs</h1>
    <p>pesquisar por colaborador + equipamento + datas</p>
    <input type="text" placeholder="Buscar por nome">

    <!-- código para mensagem de: não há dados disponíveis.-->
     {% if controladoria %}
        <table class="tabela-lista-controle">
        <thead class="cabecalho-lista-controle">
            <tr>
                <th>Colaborador</th>
                <th>Equipamento</th>
                <th>Data Empréstimo</th>
                <th>Data Devolução</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="corpo-lista-controle">
            {% for meliante in controladoria %}
                <tr>
                    <td>{{ meliante.colaborador.nome }}</td>
                    <td>{{ meliante.equipamento.nome }}</td>
                    {% comment %} | vem do: filtro do Django Template Language (DTL). {% endcomment %}
                    <td>{{ meliante.data_emprestimo|date:"d/m/Y" }}</td>
                    {% comment %} internamente, o Django faz algo parecido com:
                    data_formatada = data_emprestimo.strftime("%d/%m/%Y") {% endcomment %}
                    <td>{{ meliante.data_devolucao|date:"d/m/Y" }}</td>
                    <td>{{ meliante.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Ainda não há dados disponíveis!</p>
    {% endif %}
    </main>
{% endblock content %}