{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Lista Edição{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/listagem_editar.css' %}" />
{% endblock css %}

{% block content %}
{% if messages %}
    <ul class="lista-sucesso-erro">
        {% for message in messages %}
            <li style="color: {% if message.tags == 'error' %}red{% else %}green {% endif %};">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<main class='container-editar'>
    <h1>Colaboradores Ativos</h1>
        <p>pesquisar por usuário</p>
        <input type="text" placeholder="Buscar por nome">
        
        
        <table class="tabela-colaboradores">
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Setor</th>
                    <th>Cargo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody class="tabela-corpo">
                {% for worker in colaboradores %}
                    <tr>
                        <td>{{ worker.nome }}</td>
                        <td>{{ worker.setor }}</td>
                        <td>{{ worker.cargo }}</td>
                        <td>
                            <div class="botoes">
                            {% comment %} <a href="{% url 'deletar_colaborador' worker.id %}">Excluir</a>  {% endcomment %}
                            <form id="form-excluir-{{ worker.id }}" action="{% url 'deletar_colaborador' worker.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" onclick="confirmarExclusao('{{ worker.id }}')">Excluir</button>
                            </form>
                            
                            <a href="{% url 'editar_colaborador' worker.id %}">Editar</a></td>
                            </div>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        
</main>
  

{% endblock content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'epi_app/js/exclusao.js' %}"></script>
{% endblock script %}