{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Lista Edição EPIs{% endblock title %}
{% comment %} {% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/listagem_editar.css' %}" />
{% endblock css %} {% endcomment %}

{% block content %}
{% if messages %}
    <ul class="lista-sucesso-erro">
        {% for message in messages %}
            
                <li style="color: {% if message.tags == 'error' %}red{% else %}green {% endif %};">
                    {{ message }}
                </li>
            
        {% endfor %}
    </ul>
{%endif%}

<main class='container-editar-epi'>
    <h1>EPIs Ativos</h1>

    {% if epis %}
        <div class="container-busca">
            <h4>Pesquisa por Usuário</h4>
            <form action="{% url 'listagem_equipamentos' %}" method="get">
                <input type="text" name="pesquisa" placeholder="Buscar por nome/tipo">
                <button type="submit">Buscar</button>
            </form>
            {% if pesquisa %}
                <div class="texto-icone">
                    <p>Busca: {{pesquisa}} </p>
                    <a href="{% url 'listagem_equipamentos' %}"><img src="https://cdn-icons-png.freepik.com/512/5835/5835309.png" alt="fechar" width="30px"></a> 
                </div>   
            {% endif %}
        </div>       
        
        <table class="tabela-epi">
            <thead class="tabela-cabecalho-epi">
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody class="tabela-corpo-epi">
                {% for epi in epis %}
                    <tr>
                        <td>{{ epi.nome }}</td>
                        <td>{{ epi.tipo }}</td>
                        <td>
                            <div class="botoes-epi">
                            {% comment %} <a href="{% url 'deletar_colaborador' epi.id %}">Excluir</a>  {% endcomment %}
                            <form id="form-excluir2-{{ epi.id }}" action="{% url 'deletar_equipamento' epi.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" onclick="confirmarExclusaoEpi('{{ epi.id }}')">Excluir</button>
                            </form>
                            
                            <a href="{% url 'editar_equipamento' epi.id %}">Editar</a></td>
                            </div>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="msg-sem-dados">
            <img src="https://cdn-icons-png.flaticon.com/512/1022/1022319.png" 
            alt="sem dados" style="width: 300px; text-align: center;">
            <p>Ainda não há dados disponíveis!</p>
            <div class="linha">
            
                <p>Inicie um registro por aqui:</p>
                <a href="{% url 'cadastrar_equipamento' %} ">Registrar EPI</a>
            </div>   
        </div>
    {% endif %}   
</main>
  

{% endblock content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'epi_app/js/exclusao.js' %}"></script>
    <script src="{% static 'epi_app/js/sumirMensagens.js' %}"></script>
{% endblock script %}