{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Lista Edição{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/listagem_editar.css' %}" />
{% endblock css %}

{% block content %}

{% if messages %}
    <ul class="lista-sucesso-erro">
        {% for message in messages %}
            <li style="color: {% if message.tags == 'error' %}red{% else %}green {% endif %};">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

<main class='container-editar'>
    <h1>Colaboradores Ativos</h1>

    {% if colaboradores %}
        <div class="container-busca">
            <h4>Pesquisa por Usuário</h4>
            <form action="{% url 'listagem_editar' %}" method="get">
                <input type="text" name="pesquisa" placeholder="Buscar por nome/setor/cargo">
                <button type="submit">Buscar</button>
            </form>
            {% if pesquisa %}
                <div class="texto-icone">
                    <p>Busca: {{pesquisa}} </p>
                    <a href="{% url 'listagem_editar' %}"><img src="https://cdn-icons-png.freepik.com/512/5835/5835309.png" alt="fechar" width="30px"></a> 
                </div>   
            {% endif %}
        </div>
            
            
        <table class="tabela-colaboradores">
            <thead class="tabela-cabecalho">
                <tr>
                    <th>Nome</th>
                    <th>Setor</th>
                    <th>Cargo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody class="tabela-corpo">
                {% for worker in colaboradores %}
                    <tr>
                        <td>{{ worker.nome }}</td>
                        <td>{{ worker.setor }}</td>
                        <td>{{ worker.cargo }}</td>
                        <td>
                            <div class="botoes">
                                {% comment %} <a href="{% url 'deletar_colaborador' worker.id %}">Excluir</a>  {% endcomment %}
                            <form id="form-excluir-{{ worker.id }}" action="{% url 'deletar_colaborador' worker.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" onclick="confirmarExclusao('{{ worker.id }}')">Excluir</button>
                            </form>
                                
                            <a href="{% url 'editar_colaborador' worker.id %}">Editar</a></td>
                            </div>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="msg-sem-dados">
            <img src="https://cdn-icons-png.flaticon.com/512/13141/13141610.png" 
            alt="sem dados" style="width: 300px; text-align: center;">
            <p>Ainda não há dados disponíveis!</p>
            <div class="linha">
            
                <p>Inicie um registro por aqui:</p>
                <a href="{% url 'cadastrar_colaborador' %} ">Registrar Colaborador</a>
            </div>   
        </div>
    {% endif %}
</main>
  

{% endblock content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'epi_app/js/exclusao.js' %}"></script>
    <script src="{% static 'epi_app/js/sumirMensagens.js' %}"></script>
{% endblock script %}