{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Relatórios{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/relatorios.css' %}" />
{% endblock css %} 

{% block content %}


<main class='container-home'>
    <h1>relatórios</h1>

        <input type="text" placeholder="Buscar por nome">
        <ul class="lista-colaborador">
            {% for worker in colaboradores %}
                <li>
                    <p>{{worker.nome}} - {{worker.setor}} - {{worker.cargo}} - <a href="">editar</a> - <a href="">atualizar</a></p>
                    
                    
                </li>
    
            {% endfor %}
        </ul>  
</main>



{% endblock content %}