{% extends "epi_app/global/index.html" %}
{% load static %}
{% block title %}Relatórios{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'epi_app/css/relatorios.css' %}" />
{% endblock css %} 

{% block content %}

{% if messages %}
    <ul class="lista-sucesso-erro">
        {% for message in messages %}
            <li style="color: {% if message.tags == 'error' %}red{% else %}green {% endif %};">
                {{ message }}
            </li> 

        {% endfor %}
    </ul>
{% endif %}

<main class='container-relatorio'>
    <h1>relatórios COLABORADOR + EPI + STATUS</h1>

    <input type="text" placeholder="Buscar por nome">

    <table class="tabela-relatorio">
        <thead class="relatorio-cabecalho">
            <tr>
                <th>COLABORADOR</th>
                <th>EPI</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody class="relatorio-corpo">
            
            {% for itens in relatorio %}
                <tr>
                    <td>{{ relatorio.colaborador }}</td>
                    <td>{{ relatorio.epi }}</td>
                    <td>{{ relatorio.data }}</td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
  
</main>



{% endblock content %}