.accordion {
    /* max-width: 300px;
    margin: 0;
    border-radius: 0; */


    position: fixed;  /* posiciona em relação ao header */
    top: 80px;           /* exibe logo abaixo do header */
    left: 0;

    width: 100%;         /* ocupa a largura total abaixo do header */
    max-width: 250px;    /* opcional: se quiser limitar */
    z-index: 1050;

    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.accordion-body {
    display: flex;
    flex-direction: column;
}

.accordion-body a{
    text-decoration: none;
    color: rgba(19, 18, 18, 0.87);
    margin: 8px;
    padding-bottom: 4px; /* texto não salta qdo a borda aparece */
    transition: all 0.1s ease-in-out;
}
.accordion-body a:hover{
    border-bottom: 2px solid rgb(27, 26, 26);
    font-weight: bold; 
   
}