*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    width: 100%;
    min-height: 60px; 
    background-color: #ffffff;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-top: rgb(67, 157, 230) solid 1px;
    position: relative;
    flex-shrink: 0;
    margin-top: 64px;
}
.footer-info{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.footer-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}