*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-index {
    
    position: fixed;
    /* top: 0;
    left: 0; */
    /* z-index: 1100; */
    /* position: relative; última alteração */
    width: 100%;
    min-height: 80px;
    background-color: #079FD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    max-height: 80px;
    overflow: hidden;
   
}

.header-texto {
    font-size: 18px;
    font-weight: bold;
}
.header-texto a {
    text-decoration: none;
    color: #F3F3F3;
}

.header-usuario {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header-usuario span {
    color: #F3F3F3;
}