*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* background-color: rgb(215, 236, 183); */
}
.container-home h1{
    color: rgb(55, 221, 138);
    margin: auto;
}

.container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 280px;
    border-radius: 8px;
    background-color: rgb(83, 141, 218);
}
.container-login form{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    
}

.container-login label{
    font-size: 0.7em;
    color: rgb(240, 245, 243);
    padding: 0px 48px;
    align-self: flex-start;
}

.container-login input {
    width: 75%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
    background: transparent;
    margin-bottom: 6px;
    outline: none;
    color: rgb(58, 230, 130);
    transition: border-color 0.3s;
}

.container-login input:focus {
    border-bottom: 2px solid rgb(55, 221, 138);
  }
span {
    color: aquamarine;
    margin-top: 8px;
}

.container-login a{
text-decoration: none;
color: rgb(55, 221, 138);
transition: font-weight 0.3s
}
.container-login a:hover{
    font-weight: bold;
}

.container-login button{
    width: 50%;
    padding: 10px;
    border: none;
    border: 1px solid rgb(55, 221, 138);
    border-radius: 8px;
    background: transparent;
    color: rgb(231, 241, 237);
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-login button:hover{
    background-color: rgb(55, 221, 138);
    
}