*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.secao-inicial{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 60vh;
    /* background: linear-gradient(to left, white, #228BE6); */
    background-color: white;
    gap: 30px;
}
.secao-inicial-texto{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    width: 30%;
    margin-left: 250px;
}
.secao-inicial-texto span{
    color: rgb(47, 113, 236);
    font-weight: bold;
    font-size: 1.1em;
}
.secao-inicial-imagem{
    width: 30%;
    display: flex;
    justify-content: center;
}

/* .container-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
     background-color: rgb(215, 236, 183);
}
.container-home h1{
    color: rgb(55, 221, 138);
    margin: auto;
} */

.secao-equipamentos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    /* background-color: rgb(215, 236, 183); */
}
.grid-equipamentos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 600px; /* controla a largura total do grid para manter centralizado */
    justify-items: center; /* centraliza os itens dentro de cada célula */
    text-align: center; /* centraliza o texto (os <span>) */
    gap: 32px;
    margin: 50px auto;
}
.item-equipamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: rgb(83, 141, 218);
    padding: 8px;
    width: 200px;  
    height: 200px;  
}
.item-equipamentos img{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

/* .container-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 280px;
    border-radius: 8px;
    background-color: rgb(83, 141, 218);
}
.container-login form{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    
}

.container-login label{
    font-size: 0.7em;
    color: rgb(240, 245, 243);
    padding: 0px 48px;
    align-self: flex-start;
}

.container-login input {
    width: 75%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
    background: transparent;
    margin-bottom: 6px;
    outline: none;
    color: rgb(58, 230, 130);
    transition: border-color 0.3s;
}

.container-login input:focus {
    border-bottom: 2px solid rgb(55, 221, 138);
  }
span {
    color: aquamarine;
    margin-top: 8px;
}

.container-login a{
text-decoration: none;
color: rgb(55, 221, 138);
transition: font-weight 0.3s
}
.container-login a:hover{
    font-weight: bold;
}

.container-login button{
    width: 50%;
    padding: 10px;
    border: none;
    border: 1px solid rgb(55, 221, 138);
    border-radius: 8px;
    background: transparent;
    color: rgb(231, 241, 237);
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container-login button:hover{
    background-color: rgb(55, 221, 138);
    
} */


.secao-final{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height:60vh;
    background-color: white;
}
.secao-final-texto{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, white, #176baf);
}
.secao-final-texto p, h3{
    width: 80%;
}
.secao-final-imagem{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secao-final-imagem img{
    width: 100%;
    height: 100%;
}