    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .container-home{
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 60%;
        align-items: center;
        margin: auto;
        }

    .tabela-colaboradores {
    min-width: 80%;
    background-color: rosybrown;
    border: #f33b9a solid 1px;
    border-collapse: collapse;
    border: 4px solid #f33b9a;
    border-style:solid;
    }  

    .tabela-cabecalho{
        text-align: center;
        padding: 8px;
        background-color: aqua;
    }

    .tabela-corpo{
        text-align: center;
        padding: 8px;
    }

.tabela-colaboradores th, .tabela-colaboradores td {
    border: 1px solid black; /* Adiciona bordas visíveis nas células */
    padding: 4px; /* Aumenta o espaçamento interno */
    text-align: center;
}

.tabela-colaboradores tr:nth-child(even) {
    background-color: #ffd4dc; /* Alternância de cores nas linhas */
}

.tabela-corpo a{
background-color: brown;
text-decoration: none;
color: #f33b9a;
padding: 4px 8px;
border-radius: 4px;
font-size: 0.8em;
}
    .lista-colaborador {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        list-style: none;
        
    }
    .lista-colaborador li{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        list-style: none;
        background-color: rgb(127, 60, 182);
        min-width: 600px;
        padding: 8px 16px;
        border-radius: 8px;
    }
    
    .lista-colaborador a {
        text-decoration: none;
    }
    
    .lista-colaborador a:first-child{
        color:#f33b9a;
        font-weight: bold;
    }
    .lista-colaborador a:last-child{
        color: aquamarine;
        font-weight: bold;
    }