<div class="footer-container">
    <div class="footer-text">
        <p>NOME APP???</p>
    </div>
    <div class="footer-info">
        <img src="https://img.icons8.com/m_outlined/512/228BE6/instagram-new.png" alt="">
        <img src="https://img.icons8.com/win10/200/228BE6/github.png" alt="">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/18910721-do-logotipo-do-linkedin-simbolo-do-linkedin-gratis-do-icone-do-linkedin-gratis-vetor.jpg" alt="">
        <p>telefone</p>
    </div>

</div>